.vscode/**
bin/**
obj/**
# *.txt
python_scripts/**/*.txt
misc/**/*.txt
*.dat
*.png
includes/docs/**
build/**
output/*.out
dat/**
configurations/**
src/SU2_Pure.code-workspace
python_scripts/__pycache__/jackknife.cpython-38.pyc
